@model BufferedSingleFileUploadDbModel
<form asp-action="OnPostUpload" enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file">
        </dd>
        <dt>
            <label asp-for="FileUpload.Name">Name</label>
        </dt>
        <dd>
            <input asp-for="FileUpload.Name" type="text">
        </dd>
        <dt>
            <label asp-for="FileUpload.AlbumId">Album</label>
        </dt>
        <dd>
            <select name="Album" id="album">
                @foreach (var album in Model.Albums)
                {
                    <option value="@album.Id">@album.Name</option>
                }
            </select>
        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload">
</form>