<form asp-action="OnPostUpload" enctype="multipart/form-data" method="Post">
    <div class="form-group">
        <label class="control-label">Upload</label>
        <input type="file" class="form-control" name="file" />
    </div>

    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-default" />
    </div>
</form>