@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{ var site = Configuration.GetSection("Kestrel")["EndPoints:Https:Url"]; }

@model PersonalBlog.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="displayImages">
    <h2><a href="@site/albums">图片</a></h2>
    <div class="images">
        @foreach (var picture in Model.DisplayPictures)
        {
            <div class="imageBlock">
                <img class="image" src=@picture.PictureRoute alt="Display Image"/>
            </div>
        }
    </div>
</div>


<div class="displayArticles">
    <h2><a href="@site/articles">文章</a></h2>
    @foreach (var article in Model.DisplayArticles)
    {
        <article class="articleBlock">
            <h4>@article.Title</h4>
            <div class="articlePreview">@article.Summary</div>
            <button class = "viewFullArticle"><a href="@site/article/@article.Id">查看原文</a></button>
        </article>
    }
</div>


<div class="addAndDisplayComments">
    <h2>评论</h2>
    <form asp-action="AddComment" method="Post">
        <div class=addComment>
            <div class="commentInfo">
                <label for="Name">Name:</label>
                <input name="Name" value="" required>
                <label for="Contact">Contact:</label>
                <input name="Contact" value="">
            </div>
            <div>
                <textarea class = "commentArea" name="Content" value="" required></textarea>
            </div>
        </div>
        <div>
            <input type="submit" value="Submit" class="submit"/>
        </div>
    </form>

    <div class="displayComments">
        @foreach (var comment in Model.DisplayComments)
        {
            <div class="comment">
                <h4>@comment.Name</h4>
                <body>@comment.Content</body>
            </div>
        }
    </div>
</div>

<style>
    .displayImages h2 {
        line-break: normal;
        }
        
    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .imageBlock {
        margin: 12px;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .image {
        display: block;
        min-width: 100%;
        height: 100%;
    }
    
    .displayArticles {
        margin: 20px 10px;
    }
    
    .articlePreview { 
        height: 100px;
        overflow: hidden;
      }
     
    .commentInfo {
        display: inline;
    }
    
    .commentArea {
        display: flex;
        vertical-align: middle;
        width: 100%;
        height: 100px;
    }
</style>
