@model ArticlePageViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{ var site = Configuration.GetSection("Kestrel")["EndPoints:Https:Url"]; }

@Html.Partial("/Views/Partial/_SearchBar.cshtml", new KeywordForm())
<div class="categories">
    <ol>
        @foreach(var category in Model.AllCategories)
        {
            <li class="list-group-item"><a href="@site/category/@category">#@category</a></li>
        }
    </ol>
</div>

<div class="articles">
    @foreach (var article in Model.AllArticles)
    {
        <article class="articleBlock">
            <h4>@article.Title</h4>
            <div class="articleSummary">@article.Summary</div>
            <button class = "viewFullArticle"><a href="@site/article/@article.Id">查看原文</a></button>
        </article>
    }
</div>

<style>
    .categories {
    float: left;
    width: 20%;
    }
    
    .articles {
    float: right;
    width: 80%;
    }
</style>